body{
    font-family: 'Open sans', Arial, Tahoma;
    font-weight: 400;
    font-size: 14px;
    color: #363636;
    background: beige;

}

.nombre {
    color: red;
}

/*Header*/
h1 {
    text-transform: uppercase;
}

#photo-header {
    text-align: center;
    border-bottom-style: double;
    border-bottom-color: #1316b1;
    border-bottom-width: 5px;
<<<<<<< HEAD

=======
   
>>>>>>> 2dda84b6259dc20e08131023706db6b8de539a0a
}

#photo img {
    background-color: #f1eaea;
    border-radius: 60%;
    width: 120px;
    height: 120px;
}

.container {
    max-width: 900px;
    background: rgb(237, 240, 236);
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    margin: 100px 30px;
}

.menu ul {
    text-align: center;
    margin: auto;
    padding: 0%;
    list-style-type: none;
}

.menu ul li{
    display: inline-block;
    position: relative;
<<<<<<< HEAD

=======
    
>>>>>>> 2dda84b6259dc20e08131023706db6b8de539a0a
}

.menu ul li a{
    background: black;
    color: white;
<<<<<<< HEAD
    font-size: 10px; /* The font-size CSS property sets the size of the font. Changing the font size also updates the sizes of the font size-relative <length> units, such as em, ex, and so forth. */
    text-decoration: none; /* The text-decoration shorthand CSS property sets the appearance of decorative lines on text. It is a shorthand for text-decoration-line, text-decoration-color, text-decoration-style, and the newer text-decoration-thickness property. */
    display: block;
    padding: 5px;
}

.menu ul li ul{
    position: absolute;    /* El posicionamiento absolute hace que un elemento se coloque respecto a su contenedor posicionado mas cercano, si no encuentra ningún contenedor cercano, el elemento se colocara respecto al viewport. */
    top: 25px;
    left: 0;
    list-style-type: none; /* Elimina los estilos del elemento */
    display: none; /*Oculta los elementos*/
    height: auto;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul li {
    display: block;
    width: 60px;
    height: 20px;
    margin: 0;
    text-align: left;
    font-size: 14px;

}

/* Fin de header */

h2 {
    color: red;
    text-transform: uppercase;

}

h2::before{
    content: "// "
}

.clearfix:before{
    display: table;
    line-height: 1;
    content: "/";
}

.pull-left{
    float:left
}

.row{
    padding-left: 10px;
    padding-right: 10px;
}

.col-60{
    width: 60%;
}

.col-10{
    width: 10%;
}

col-20{
    width: 20%;
}

.col-90{
    width: 90%;
}

.containerflex{
    display: flex;
}

.education ul{
    list-style: none;
    margin:0;
    padding: 0; 
}
.education .year {
        font-size: 1.1em;
        font-weight: bold;
    }
    
.education .description {
        background: #EEEEEE;
        border-bottom: 1px solid #DDDDDD;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        box-sizing: border-box; 
    }

.education .description h3, .education .description p{
        margin-top: 0;
        margin-bottom: 0;
    }
.education .description p::after {
        content: "";
        position: absolute;
        border: 8px solid transparent ;
        border-right: 8px solid #EEEEEE ;
        top: 5px;
        left: -16px;
    }

    .experience .job .where{
        font-size: 1.2em;
        font-weight: bold;
    }

    .profesion{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2em;
        font-size: .9em; 
        text-align: justify;       
    }

    .description{
        margin-top: 0;
        margin-left: 2em;
        text-align: justify;
    }

    .containerskills {
        width: 100%;
        background-color: #ddd;
      }
      
      .skills {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
      }

      .html {width: 90%; background-color: #04AA6D;}
      .css {width: 80%; background-color: #2196F3;}
      .js {width: 65%; background-color: #f44336;}
      .python {width: 60%; background-color: #808080;}
=======
    text-decoration: none;
    display: block;
    padding: 3px;
}
>>>>>>> 2dda84b6259dc20e08131023706db6b8de539a0a
